.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 80px 0;
}

.card {
  width: calc(33.3333% - 20px);
  margin: 10px;

  overflow: hidden;

  border-radius: 5px;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
}

.card img {
  object-fit: cover;
}

.card__body {
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.card__body h2 {
  color: var(--blue);
  width: 100%;
  margin-bottom: 10px;
}

.card__body p {
  color: #666;
  font-size: 0.8rem;
}

@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}
